<!DOCTYPE html>
<head>
	<title> About Food Baby</title>
</head>
<div class="jumbotron center">
	<h1> About Food Baby </h1>

		<p style="font-size: 20px">	Have you ever wished you could see your food before you ordered it? Wondered how large that Colossal Burger will actually be? Or just received such a work of art in the form of food that you just had to share it? Well then Food Baby is the site for you!</p>
		<p style="font-size: 20px">	The goal of Food Baby is to provide a site where everyone can post pictures of their meals from restaurants around the world! And where you can search out your meal before you order it, through pictures others have shared!</p> 

</html>